.chat-container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
    justify-content: space-between;
}

.contacts-section {
  width: 22.5%;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding: 20px;
  text-align: left;
}

.chat-wrapper {
  width: 77.5%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.contact:hover {
  background-color: #ddd;
}

.contact-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-last-message {
  color: #888;
}

.messages-section {
  flex: 1;
  overflow-y: auto;
}

.input-form-section {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 20px;
}

.form-input {
  resize: none;
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  overflow-y: auto;
  outline: none;
}

.send-icon {
  display: flex;
  color: #0084ff;
  cursor: pointer;
  /* position: absolute;
  background-color: #343536;
  width: 47px;
  height: 47px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 43px;
  right: 16px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out; */
}

.form-button {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: none; */
  /* background: transparent; */
  /* background-color: #0084ff; */
  /* color: white; */
  /* color: #0084ff; */
  /* width: 40px;
  height: 40px; */
  /* border-radius: 50%; */
  
  padding: 0px;
}

.form-button:hover {
  color: #0066cc;
}

.messages-section {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
}

.message-bubble {
  max-width: 60%;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.message-user {
  align-self: flex-end;
  background-color: #0084ff;
  color: white;
}

.message-assistant {
  align-self: flex-start;
  background-color: #f0f0f0;
}
/* header {
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  section {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;;
  } */