.chat-container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
    justify-content: space-between;
}

.contacts-section {
  width: 22.5%;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding: 20px;
  text-align: left;
}

.chat-wrapper {
  width: 77.5%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.contact:hover {
  background-color: #ddd;
}

.contact-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-last-message {
  color: #888;
}

.messages-section {
  flex: 1;
  overflow-y: auto;
}

.input-section {
  flex: none;
}
/* header {
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  section {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;;
  } */